<p class="buttonset">
{%- assign buttons=include.buttons | strip | newline_to_br | split: '<br />' %}
{%- for button in buttons %}
	{%- assign segments=button | split: '>' %}
	{%- assign html=segments[0] | strip | default: nil %}
	{%- assign href=segments[1] | strip | default: '#' %}
	{%- assign class=segments[2] | strip | default: nil %}
	{%- assign target=segments[3] | strip | default: nil %}
	<a href="{{ href }}" class="button{% if class %} {{ class }}{% endif %}"{% if target %} target="{{ target }}"{% endif %}>{{ html }}</a>
{%- endfor %}
</p>