<ol class="isq isq--{{ include.direction|default: 'x' }}{% if include.highlight_first %} isq--highlight-first{% endif %}">
	{% for step in include.steps %}
		<li class="isq__item">
			<div class="isq__item__display">
				{% if step.img %}
					<img src="{{ step.img }}" alt="{{ step.title }}" />
				{% else if step.icon %}
					<i class="material-icons ">{{ step.icon }}</i>
				{% endif %}
			</div>
			<div class="isq__item__content">
				<p class="isq__item__content__title">{{ step.title }}</p>
				<p class="isq__item__content__body">{{ step.body }}</p>
			</div>
		</li>
	{% endfor %}
</ol>
