<ol class="grid" focusbox>
	{% for step in include.steps %}
		<li class="grid__item" focusbox-item>
			<div class="grid__item__display" focusbox-item-trigger>
				<img class="grid__item__display__img" src="{{ step.img }}" alt="{{ step.title }}" />

				<div class="grid__item__display__title">
					<p class="grid__item__display__title__main">{{ step.title }}</p>
					{% if step.subtitle %}
						<p class="grid__item__display__title__sub">{{ step.subtitle }}</p>
					{% endif %}
				</div>
			</div>

			<div class="grid__item__body text">
				{{ step.body|markdownify }}

				{% if step.links %}
					<ul class="links">
						{% for link in step.links %}
							<li><a href="{{ link }}"></a></li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</li>
	{% endfor %}
</ol>
