<div class="hero hero--align__{{ include.align|default:'left' }} hero--fit__{{ include.fit|default:'cover' }} hero--height__{{ include.height|default:'full'}} hero--overlay__{{ include.overlay|default:'float' }} hero--width__{{ include.width|default:'full' }} {% if include.margins %}hero--margins{% endif %}">
	<div class="hero__display">
		{% if include.video %}
			<video class="hero__display__media" autoplay loop muted playsinline preload="none" {% if include.img_src %}poster="{{ include.img_src }}{% endif %}" title="{{ include.img_alt }}">
				<source src="{{ include.video }}" />
				{% if include.img %}
					<source src="{{ include.img_src }}" />
				{% endif %}
			</video>
		{% else if include.img_src %}
			<img class="hero__display__media" src="{{ include.img_src }}" alt="{{ include.img_alt }}" style="{{ include.img_style }}" />
		{% endif %}
	</div>

	<div class="hero__content">
		{{ include.content|markdownify }}
	</div>
</div>
