{% capture content %}
<div class="hero hero--align__{{ include.align|default:'left' }} hero--overlay__{{ include.overlay|default:'float' }} {% if include.margins %}hero--margins{% endif %}">
	<div class="hero__display">
		{% if include.display %}
			{{ include.display }}
		{% else if include.img_src %}
			{% include img.html %}
		{% else if include.video %}
			<video autoplay loop muted playsinline preload="none" {% if include.img_src %}poster="{{ include.img_src }}{% endif %}" title="{{ include.img_alt }}">
				<source src="{{ include.video }}" />
				{% if include.img %}
					<source src="{{ include.img_src }}" />
				{% endif %}
			</video>
		{% endif %}
	</div>

	<div class="hero__content">
		{% if include.disable_markdown == true %}
			{{ include.content }}
		{% else %}
			{% include text.html %}
		{% endif %}
	</div>
</div>
{% endcapture %}
{% include section.html content=content height=include.height %}
