.section {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.section--margins {
  @include content--page;
}

.section:first-child {
  margin-top: 0;
}

.main > .section:first-child,
.main > header:first-child {
  .nav--fixed + & {
    border-top: $nav--height solid transparent;
  }
}

.main > header:first-child + .section {
  margin-top: 30px;
}

@media #{$bp--sm} {
  .section {
    margin-top: $margin--main * 2;
  }
}

@media #{$bp--md, $bp--lg} {
  .section {
    margin-top: 120px;
  }
}

.section--height__full {
  min-height: 100vh;

  & + & {
    margin-top: 0;
  }

  .nav:not(.nav--fixed) + .main > &:first-child {
    min-height: calc(100vh - #{$nav--height});
  }
}

.section--height__half {
  min-height: 50vh;
}

.section > .text {
  width: 100%;
}

@media print {
  .section {
    display: block;
    height: auto !important;
    margin: 0 !important;
    min-height: auto !important;
    padding: 0 !important;
  }
}
