.body {
  background: $background--base;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

.nav__content {
  @include content--page;
}

.main {
  @include content--page;

  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-top: $margin--main;
  width: 100%;
}

.content--sm {
  @include content--sm;
}

.content--md {
  @include content--md;
}

.content--lg {
  @include content--lg;
}

.footer {
  @include content--page;

  padding-bottom: $margin--main;
  padding-top: $margin--main;
}

.devmode {
  color: #f00;
  opacity: 0.5;
  padding: 0 $margin--main;
  position: fixed;
  top: 0;
  right: 0;
}

.devmode:hover {
  opacity: 0;
}

.nav {
  position: relative;
  z-index: $z--nav;
}

.nav--fixed {
  background: rgba(255, 255, 255, 0.9);
  left: 0;
  position: fixed;
  top: 0;
  transition: background 0.2s;
  width: 100%;
}

.nav--fixed:hover {
  background: #fff;
}

@media #{$bp--sm} {
  .nav {
    border-bottom: 2px solid $color--brand;
  }

  .nav__content {
    display: flex;
    flex-direction: column;
  }

  .nav__home {
    display: flex;
    justify-content: center;
    padding-top: $margin--main;
  }

  .nav__logo {
    display: block;
    height: calc(#{$nav--height} - (#{$margin--main} * 2));
  }

  .nav__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav__links > * {
    padding: $margin--main $margin--main / 2;
  }
}

@media #{$bp--md}, #{$bp--lg}, #{$bp--xl} {
  .nav {
    border-bottom: 2px solid $color--brand;
    height: $nav--height;
  }

  .nav__content {
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  .nav__links {
    align-items: center;
    display: flex;
    height: 100%;
    margin-right: -$margin--main;
  }

  .nav__links > * {
    padding: $margin--main;
  }

  .nav__home {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  .nav__logo {
    height: calc(#{$nav--height} - (#{$margin--main} * 2));
  }
}

@media #{$bp--md} {
  .nav__links > * {
    padding-left: ($margin--main / 2);
    padding-right: ($margin--main / 2);
  }
}
