.hero {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;

  .main > &:first-child {
    margin-top: -$margin--main;
  }
}

.hero__bg {
  background-color: $color--offset;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero__card {
  position: relative;
}

.hero__card__bg {
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero__card__body {
  @include content--page;

  display: flex;
  padding: 0;
  position: relative;
}

.hero__card__body__content {
  box-sizing: border-box;
  padding: ($margin--main * 3);
}

@media #{$bp--sm} {
  .hero__card {
    text-align: center;
  }
}

@media #{$bp--lg} {
  .hero {
    padding-top: $nav--height;
  }

  .hero__card__bg {
    width: 50%;
  }

  .hero__card__body__content {
    width: 50%;
  }

  .hero--align__center {
    .hero__card__bg {
      border-radius: $margin--main;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      right: 0;
    }

    .hero__card__body {
      justify-content: center;
    }
  }

  .hero--align__left {
    .hero__card__bg {
      border-bottom-right-radius: $margin--main;
      border-top-right-radius: $margin--main;
      left: 0;
    }

    .hero__card__body {
      justify-content: flex-start;
    }

    .hero__card__body__content {
      padding-left: $margin--main
    }
  }

  .hero--align__right {
    .hero__card__bg {
      border-bottom-left-radius: $margin--main;
      border-top-left-radius: $margin--main;
      right: 0;
    }

    .hero__card__body {
      justify-content: flex-end;
    }
    
    .hero__card__body__content {
      padding-right: $margin--main;
    }
  }

}
