* {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: inherit;
}
