// Text

:root {
  @include font--body;
  @include text--smooth;

  color: $font-color--body;

  @media print {
    @include font--print;
  }
}

// Misc
.hidden,
[aria-hidden=true] {
  @include hidden;
}

@each $bp__name, $bp__size in $bps {
  @media #{$bp__size} {
    .hide--#{$bp__name} {
      display: none;
    }
  }
}

// Text

a {
  @include font--link;
}

a.on-dark {
  color: $font-color--on-dark;
}

a.on-dark:hover {
  color: $font-color--highlight;
}

a.material-icons {
  color: $font-color--highlight;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
}

a.material-icons:hover,
a.material-icons:active {
  color: $font-color--highlight--sink;
}

.link--icon {
  color: transparent;
  display: inline-block;
  height: 1em;
  line-height: 0;
  overflow: hidden;
  width: 1em;
  vertical-align: bottom;

  &:after {
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
  }
}

$link-domains: (
  'linkedin.com': 'linkedin.png',
  'twitter.com': 'twitter.png',
);

@each $domain, $icon in $link-domains {
  a[href*="#{$domain}"] {
    @extend .link--icon;
  }

  a[href*="#{$domain}"]:after {
    background-image: url(/assets/img/icon/#{$icon});
  }
}

cite {
  font-weight: bold;
}

sup {
  line-height: 0px;
  vertical-align: super;
}

sup a {
  text-decoration: none;
}

small {
  @include font--fineprint;

  display: block;
}

em {
  text-decoration: underline;
}

strong {
  font-weight: $font-weight--strong;
}

.text {
  h1, h2, p, ul, ol, details {
    margin: $margin--main 0;
  }
  
  h1 em,
  h2 em,
  h3 em {
    color: $font-color--highlight;
    text-decoration: none;
  }

  h1 {
    font-size: rem(64);
    line-height: rem(80);
  }

  h2 {
    font-size: rem(32);
    line-height: rem(40);
  }
  
  h3 {
    font-size: rem(22);
    line-height: rem(26);
  }
  
  h4 {
    font-weight: $font-weight--strong;
  }

  h5 {
    text-decoration: underline;
  }

  ol li {
    list-style-position: inside;
    list-style-type: decimal;
    margin: ($margin--main / 2) 0;
  }

  ul li {
    list-style-position: inside;
    list-style-type: disc;
    margin: ($margin--main / 2) 0;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    border-left: 1px solid $border-color--soft;
    padding-left: $margin--main;
    margin-top: 0;
  }

  hr {
    margin: ($margin--main * 1.5) auto;
  }

  @media #{$bp--sm} {
    h1, h2, h3 {
      text-align: center;
    }

    h1 {
      font-size: rem(32);
      line-height: rem(40);
    }

    h2 {
      font-size: rem(26);
      line-height: rem(32);
    }

    h6 {
      text-align: center;
    }
  }

  @media print {
    position: relative;

    h1, h2, h3, h4, h5, h6, p, ul, ol, li {
      page-break-inside: avoid;
      position: relative;
    }

    h1, h2, h3 {
      text-align: left;
    }

    hr {
      margin: $margin--main auto;
    }
  }
}

.material-icons {
  color: inherit;
  vertical-align: middle;
}

// Blocks

details {
  border-left: 0px solid $border-color--soft;
  padding-left: 0;
  transition: border 0.1s, padding 0.1s;
}

details[open] {
  border-left-width: $border-width--main;
  padding-left: $margin--main;
}

details summary {
  cursor: pointer;
}

img {
  display: block;
}

h2 img {
  display: inline-block;
  height: 2em;
  vertical-align: bottom;
}

// Buttons

.button {
  @include button;
  @include button--default;

  margin-bottom: 1em;
  margin-right: 1ex;

  @media print {
    display: none !important;
  }
}

.button--low {
  @include button--low;
}

.button--high {
  @include button--high;
}

.button--transparent {
  @include button--transparent;
}

.button--transparent--on-dark {
  @include button--transparent--on-dark;
}

.buttonset {
  @media #{$bp--sm} {
    text-align: center;
  }
}

.cta {
  @include cta;
}

.cta--highlight {
  @include cta--highlight;
}

.cta-link {
  text-decoration: none;
}

.cta-link:before {
  content: 'open_in_new';
  font-family: 'Material Icons';
  margin-right: 1ex;
  vertical-align: bottom;
}

.tab {
  @include tab;
}

// Forms

@include get__input--text {
  @include input--textual();
}

.fieldset {
  display: flex;
  width: 100%;

  @media #{$bp--sm} {
    display: block;
  }
}

.fieldset > .input-wrap {
  flex-basis: 50%;
  flex-grow: 1;
}

.fieldset > .input-wrap:not(:last-child) {
  margin-right: 5px;
}

.fieldset input {
  min-width: 0;
  width: 100%;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: $margin--main;
  position: relative;
}

.input-wrap.warning {
  color: $font-color--warning;
  font-weight: $font-weight--strong;
}

.input-wrap--checkbox {
  flex-direction: row;
}

.input-wrap__input {
  position: relative;

  @include get__input--text {
    display: block;
    width: 100%;
  }

  .input-wrap--select & {
    select {
      padding-left: 20px;
    }

    &:before {
      color: $font-color--highlight;
      content: '\025BE';
      height: 20px;
      left: 0;
      line-height: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 20px;
    }
  }

  .input-wrap--readonly & {
    border: 1px solid $border-color--soft;
    border-width: 0 0 1px 0;
    cursor: default;
    padding: ($margin--main / 2) 0;
  }

  .input-wrap--readonly & .material-icons {
    color: $font-color--disabled;
    font-size: inherit;
  }
}

.input-wrap__text {
  order: -1;

  .input-wrap--required:not(.input-wrap--hidden) &:after {
    color: $font-color--error;
    content: '*';
  }

  .input-wrap--checkbox & {
    order: 1;
    padding-left: $margin--main;
  }

  .fieldset & {
    white-space: nowrap;
  }
}

[data-password-toggle] {
  bottom: 0;
  padding: ($margin--main) / 2 0;
  position: absolute;
  right: 0;
  z-index: $z--content__overlay;
}

[data-password-toggle=hidden]::after {
  content: 'Show';
}

[data-password-toggle=visible]::after {
  content: 'Hide';
}

.errors {
  color: $font-color--error;
}

select {
  -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
  -moz-appearance: none; // stylelint-disable-line property-no-vendor-prefix
  appearance: none;
  cursor: pointer;
}

textarea {
  height: 4em;
  resize: vertical;
}

input[type=radio]:disabled + span {
  color: $font-color--disabled;
}

// JS

.modal {
  @include overlay($width: 300px);

  animation: slidein 0.5s ease-in forwards;
}

.modal[data-popup-closed] {
  animation: slideout 0.2s ease-in forwards;
}


[data-toggle] {
  cursor: pointer;

  .material-icons {
    @include transition--flip;
  }

  &[data-toggle-is-active] .material-icons {
    @include transition--flip--flipped;
  }
}
