---

---

@import 'reset',
  'vars',
  'theme',
  'body',
  'includes';

@media #{$bp--sm}, #{$bp--md} {
  #how-it-works {
    margin: ($margin--main * 8) 0;
  }

  #how-it-works__description h1 {
    text-align: center;
  }
}

@media #{$bp--lg}, #{$bp--xl} {
  #how-it-works {
    @include columns($margin--main * 2);

    margin-bottom: ($margin--main * 8);
  }

  #how-it-works__description .text {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 450px;
  }

  #how-it-works__description h1 {
    text-align: center;
  }
  
  #how-it-works__description .lapfm {
    width: 100%;
  }  
}
