$gutter: $margin--main;

@media #{$bp--sm} {
  .columns > img {
    width: 100%;
  }

  .columns > iframe {
    height: 300px;
    margin: $margin--main * 2 0;
    width: 100%;
  }
}

@media #{$bp--md, $bp--lg} {
  .columns {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .columns--reverse {
    flex-direction: row-reverse;
  }

  .columns--valign__center {
    align-items: center;
  }

  .columns--valign__top {
    align-items: flex-start;
  }
  
  .columns > * {
    flex-basis: 100%;
    flex-grow: 1;
    position: relative;
  }

  .columns:not(.columns--reverse) > :not(:last-child),
  .columns.columns--reverse > :not(:first-child) {
    margin-right: $gutter;
  }

  .columns > img {
    width: 0;
  }

  .columns > iframe {
    height: 400px;
    margin: $margin--main * 3 0;
  }
}

@media print {
  .columns > iframe {
    display: none;
  }
}
