$frame__img: "img:not(.frame__frame)";

.frame {
  position: relative;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

.frame__frame {
  display: block;
  width: 100%;
}

.frame #{$frame__img} {
  object-fit: cover;
  object-position: top;
  position: absolute;
  z-index: -1;
}

@mixin place($height__inner, $height__outer, $width__outer, $width__inner, $top__inner) {
  height: percentage($height__inner / $height__outer);
  left: #{50% - (percentage($width__inner / $width__outer) / 2)};
  top: percentage($top__inner / $height__outer);
  width: percentage($width__inner / $width__outer);
}

.frame--laptop #{$frame__img} {
  @include place(
    $height__inner: 46,
    $height__outer: 80,
    $top__inner: 15,
    $width__inner: 74,
    $width__outer: 100,
  );
}

.frame--tablet #{$frame__img} {
  @include place(
    $height__inner: 58.24,
    $height__outer: 80,
    $top__inner: 10.88,
    $width__inner: 45,
    $width__outer: 60,
  );
}
