$item__offset: $margin--main;

.grid {
  display: grid;
  grid-column-gap: ($margin--main * 2);
  grid-row-gap: ($margin--main * 2);
  width: 100%;

  @media #{$bp--sm} {
    grid-template-columns: repeat(2, 1fr);
    // width: calc(100% / 2);
  }

  @media #{$bp--md} {
    grid-template-columns: repeat(4, 1fr);
    // width: calc(100% / 4);
  }

  @media #{$bp--lg} {
    grid-template-columns: repeat(5, 1fr);
    // width: calc(100% / 5);
  }

  @media #{$bp--xl} {
    grid-template-columns: repeat(6, 1fr);
    // width: calc(100% / 6);
  }
}

.grid__item {
  list-style-type: none;
}

.grid__item:focus {
  outline: none;
}

.grid__item__display {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  transition: opacity 0.2s;
}

.grid__item__display:after {
  border-left: $border-width--main solid $border-color--solid;
  top: ($margin--main / 2);
  content: '';
  display: none;
  height: 100%;
  left: 50%;
  position: absolute;
  width: 0;
  z-index: -1;
}

.grid__item__display__img {
  border-radius: 50%;
  width: 100%;
}

.grid__item__display__title {
  @include font--cta;

  background: $background--base;
  text-align: center;
}

.grid__item__display__title > * {
  margin: ($margin--main / 2) 0;
}

.grid__item__display__title__sub {
  color: $font-color--highlight--sink;
}

.grid__item__body {
  background: $background--base;
  border: 0 solid $border-color--solid;
  border-radius: $border-radius--main;
  border-width: $border-width--main;
  box-shadow: $shadow--main;
  box-sizing: border-box;
  left: 0;
  margin-top: ($margin--main / 2);
  padding: $margin--main;
  position: absolute;
  width: 100%;
  z-index: $z--content__overlay;
}

.grid__item {
  .grid__item__display:after {
    display: none;
  }

  .grid__item__body {
    display: none;
  }
}

.grid__item.focus--on {
  .grid__item__display {
    opacity: 1;
  }

  .grid__item__display:after {
    display: block;
  }

  .grid__item__body {
    display: block;
  }
}

.grid__item.focus--off {
  .grid__item__display {
    opacity: 0.3;
  }
}
