@media #{$bp--sm}, #{$bp--md} {
  & {
    margin: ($margin--main * 2) 0;
  }

  .hero__display__media {
    margin: 0 auto;
    max-height: 60vh;
    max-width: 100%;
    object-fit: contain;
  }
}

@media #{$bp--lg}, #{$bp--xl} {
  & {
    align-items: stretch;
    display: flex;
    width: 100vw;
  }

  .hero__content {
    border-left: calc((100vw - #{$width--screen--xl}) / 2) solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: ($margin--main * 3);
  }

  .hero__display,
  .hero__content {
    box-sizing: border-box;
    width: 50%;
  }

  .hero__display__media {
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
  }

  &.hero--align__right {
    .hero__display {
      order: 1;
    }
  }

  &.hero--align__left {
    .hero__display {
      order: 0;
    }
  }
}

@media #{$bp--xl} {
  .hero__content {
    padding-left: 0;
  }
}
