.hero {
  box-sizing: border-box;
  height: 100%; 
  position: relative;
  width: 100vw;
  flex-grow: 1;
  
  @media #{$bp--lg}, #{$bp--xl} {
    &.hero--margins,
    &:not(.hero--margins) .hero__content {
      border: 0 solid transparent;
      border-width: 0 calc((100vw - #{$width--screen--xl}) / 2);
    }
  }
}

.hero__content {
  box-sizing: border-box;
  position: relative;
  z-index: $z--hero__overlay;
}

.hero__display > * {
  box-sizing: border-box;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.hero--overlay__text {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .hero__content {
    color: $font-color--on-dark;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hero__content em {
    text-decoration: none;
  }
  
  .hero__content strong {
    color: $font-color--highlight;
  }

  .hero__display {
    @include expand;
  }

  .hero__display > * {
    opacity: 0.2;
  }

  @media #{$bp--sm} {
    .hero__content {
      font-size: 24px;
      line-height: 1.4em;
      text-align: center;
    }
  
    .hero__content br {
      display: none;
    }
  }
  
  @media #{$bp--md} {
    .hero__content {
      font-size: 42px;
      line-height: 1.4em;
    }
  }
  
  @media #{$bp--lg}, #{$bp--xl} {
    .hero__content {
      font-size: 64px;
      line-height: 1.4em;
    }
  }
}

.hero--overlay__block,
.hero--overlay__float {
  @media #{$bp--sm}, #{$bp--md} {  
    .hero__content {
      padding: $margin--main * 2 $margin--main;
    }

    .hero__content h1 {
      text-align: center;
    }
  
    .hero__display > * {
      margin: 0 auto;
      max-height: 60vh;
      width: 100vw;
      object-fit: cover;
    }
  }

  @media #{$bp--lg}, #{$bp--xl} {
    .hero__content {
      background-color: rgba(255, 255, 255, 0.93);
      padding: ($margin--main * 3);
      width: 50%;
    }

    .hero__display {
      @include expand;
    }

    &.hero--align__center {
      justify-content: center;

      .hero__content {
        border-left-width: 0;
        border-right-width: 0;
      }
    }

    &.hero--align__right {
      justify-content: flex-end;

      .hero__content {
        border-left-width: 0;
        padding-right: $margin--main;
      }
    }

    &.hero--align__left {
      justify-content: flex-start;

      .hero__content {
        border-right-width: 0;
        padding-left: $margin--main;
      }
    }
  }
}

.hero--overlay__block {
  @media #{$bp--lg}, #{$bp--xl} {
    display: flex;

    .hero__content {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.hero--overlay__float {
  @media #{$bp--lg}, #{$bp--xl} {
    align-items: center;
    display: flex;

    .hero__content {
      border-radius: $margin--main;
      margin: ($margin--main * 3) 0;
    }

    &.hero--align__left {
      .hero__content {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    &.hero--align__right {
      .hero__content {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
