.hero__content {
  box-sizing: border-box;
}

.hero__display__media {
  box-sizing: border-box;
}

@media #{$bp--sm}, #{$bp--md} {
  .hero {
    margin: ($margin--main * 2) 0;
  }

  .hero h1 {
    text-align: center;
  }

  .main > .hero:first-child {
    margin-top: 0;
  }

  .hero__content {
    padding: ($margin--main * 2) $margin--main;
  }

  .hero__display__media {
    margin: 0 auto;
    max-height: 60vh;
    width: 100vw;
    object-fit: cover;
  }
}

@media #{$bp--lg}, #{$bp--xl} {
  .hero {
    align-items: center;
    display: flex;
    overflow-x: hidden;
    position: relative;
    width: 100vw;
  }

  .hero__content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: ($margin--main * 3);
    position: relative;
    width: 50%;
    z-index: 1;
  }

  .hero__display {
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .hero__display__media {
    height: 100%;
  }
}

@media #{$bp--lg}, #{$bp--xl} {
  .hero--align__left {
    justify-content: flex-start;

    .hero__content {
      border-left: calc((100vw - #{$width--screen--xl}) / 2) solid transparent;
      padding-left: $margin--main;
    }

    .hero__display {
      justify-content: flex-end;
    }
  }
  
  .hero--align__right {
    justify-content: flex-end;

    .hero__content {
      border-right: calc((100vw - #{$width--screen--xl}) / 2) solid transparent;
      padding-right: $margin--main;
    }

    .hero__display {
      justify-content: flex-start;
    }
  }
}

@media #{$bp--lg}, #{$bp--xl} {
  .hero--height__half {
    min-height: 50vh;
  }

  .hero--height__full {
    min-height: 100vh;
  }
}

@media #{$bp--lg}, #{$bp--xl} {
  .hero--overlay__block {
    .hero__content {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .hero--overlay__float {
    .hero__content {
      border-radius: $margin--main;
      margin: ($margin--main * 3) 0;
    }

    &.hero--align__left {
      .hero__content {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    &.hero--align__right {
      .hero__content {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}

@media #{$bp--lg}, #{$bp--xl} {
  .hero--margins {
    &.hero--width__half.hero--align__left,
    &.hero--width__full {
      .hero__display__media {
        border-right: calc(#{$margin--main} + (100vw - #{$width--screen--xl}) / 2) solid transparent;
      }
    }
  
    &.hero--width__half.hero--align__right,
    &.hero--width__full {
      .hero__display__media {
        border-left: calc(#{$margin--main} + (100vw - #{$width--screen--xl}) / 2) solid transparent;
      }
    }
  }
}

.hero--fit__contain {
  .hero__display__media {
    object-fit: contain;
  }
}

.hero--fit__cover {
  .hero__display__media {
    object-fit: cover;
  }
}

.hero--width__half {
  @media #{$bp--lg}, #{$bp--xl} {
    .hero__display__media {
      width: 50%;
    }
  }
}

.hero--width__full {
  @media #{$bp--lg}, #{$bp--xl} {
    .nav--fixed + .main > &:first-child {
      margin-top: #{0 - $nav--height};
    }
    .hero__display__media {
      width: 100%;
    }
  }
}
