$isq__border-color: $color--offset;
$bubble__border: 3px;
$bubble__radius: 5px;
$line__border: 3px;
$line__margin: ($margin--main * 3);

.isq__item {
  list-style-type: none;
}

.isq__item__icon {
  border: 0 solid $isq__border-color;
  position: relative;
}

.isq__item__icon .material-icons {
  color: $color--lowlight;
  font-size: 48px;
}

.isq__item__icon:after {
  background: #fff;
  border: $bubble__border solid $isq__border-color;
  border-radius: 50%;
  content: '\00a0';
  height: $bubble__radius * 2;
  position: absolute;
  width: $bubble__radius * 2;
}

.isq__item__content {
  text-align: left;
}

.isq__item__content__title {
  @include cta;
}

.isq--x {
  box-sizing: border-box;
  display: flex;
  flex-direction: horizontal;
  overflow-x: scroll;
  width: 100vw;

  .isq__item {
    flex-shrink: 0;
    border: 0 solid transparent;
    border-width: 0 calc(#{$margin--main} + (100vw - #{$width--screen--xl}) / 2);
    width: 300px;
  }
  
  .isq__item:not(:first-child) {
    border-left: 0;
  }
  
  .isq__item:not(:last-child) {
    border-right: 0;
  }
  
  .isq__item__icon {
    border-bottom-width: $line__border;
    padding-bottom: $margin--main;
    text-align: center;
  }

  .isq__item__icon:after {
    bottom: #{0px - $bubble__border - $bubble__radius - ($line__border / 2)};
    left: calc(50% - #{$bubble__border + $bubble__radius});
  }

  .isq__item__content {
    padding: $margin--main;
  }

  .isq__item__content__title {
    text-align: center;
  }
}

.isq--y {
  display: table;
  width: 100%;

  .isq__item {
    border: 0 solid transparent;
    border-width: ($margin--main / 2) 0;
    display: table-row;
  }

  .isq__item > * {
    display: table-cell;
    vertical-align: middle;
  }

  .isq__item__icon {
    border-right-width: $line__border;
    padding-right: $margin--main;
  }

  .isq__item__icon:after {
    right: #{0px - $bubble__border - $bubble__radius - ($line__border / 2)};
    top: calc(50% - #{$bubble__border + $bubble__radius});
  }

  .isq__item__content {
    padding: $margin--main 0;
    padding-left: $margin--main;
  }

  .isq__item__content__title {
    margin-bottom: ($margin--main / 2);
  }
}
