.section {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.main > .section:first-child {
  margin-top: 0;

  .nav--fixed + & {
    border-top: $nav--height solid transparent;
  }
}

@media #{$bp--sm} {
  .section {
    margin-top: $margin--main * 2;
  }
}

@media #{$bp--md}, #{$bp--lg}, #{$bp--xl} {
  .section {
    margin-top: 120px;
  }
}

.section--layout__collapse,
.section--layout__columns,
.section--layout__grid {
  @include content--page;
}

.section--height__full {
  min-height: 100vh;

  & + & {
    margin-top: 0;
  }

  .nav:not(.nav--fixed) + .main > &:first-child {
    min-height: calc(100vh - #{$nav--height});
  }
}

.section > .text {
  width: 100%;
}
