.section {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.main > .section:first-child {
  margin-top: 0;
}

.nav--fixed + .main > .section:first-child {
  border-top: $nav--height solid transparent;
}

@media #{$bp--sm} {
  .section {
    margin-top: $margin--main * 2;
  }
}

@media #{$bp--md}, #{$bp--lg}, #{$bp--xl} {
  .section {
    margin-top: 80px;
  }
}

.section--height__full {
  min-height: 100vh;

  & + & {
    margin-top: 0;
  }

  .nav:not(.nav--fixed) + .main > &:first-child {
    min-height: calc(100vh - #{$nav--height});
  }
}
