& {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.hero__display {
  background-color: $color--offset;
}

.hero__display img,
.hero__display video {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero__content__body {
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

@media #{$bp--sm}, #{$bp--md} {
  .hero__content__body {
    padding: ($margin--main * 3) $margin--main;
    text-align: center;
  }
}

@media #{$bp--lg}, #{$bp--xl} {
  .hero__content {
    display: flex;
  }

  .hero__content__body {
    border-left: calc((100vw - #{$width--screen--xl}) / 2) solid transparent;
    border-radius: $margin--main;
    padding: ($margin--main * 3);
    width: 50vw;
  }

  &.hero--align__center {
    .hero__content {
      justify-content: center;
    }

    .hero__content__body {
      padding-left: ($margin--main * 4);
      padding-right: ($margin--main * 4);
    }
  }

  &.hero--align__left {
    .hero__content {
      justify-content: flex-start;
    }

    .hero__content__body {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  &.hero--align__right {
    .hero__content {
      justify-content: flex-end;
    }

    .hero__content__body {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

@media #{$bp--xl} {
  .hero__content__body {
    padding-left: $margin--main;
  }
}
